<div class="container">
  <h1>Edit Record Label</h1>

  <%= render 'form', record_label: @record_label %>

  <br>

  <%= link_to 'Show', @record_label, class: "waves-effect waves-light btn red" %> |
  <%= link_to 'Back', record_labels_path, class: "waves-effect waves-light btn blue" %>
</div>

