<div class="container">
  <h1>New Record Label</h1>

  <%= render 'form', record_label: @record_label %>

  <br>

  <%= link_to 'Back', record_labels_path, class: "waves-effect waves-light btn teal lighten-2"%>
</div>
