<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @record_label.name %>
</p>

<%= link_to 'Edit', edit_record_label_path(@record_label) %> |
<%= link_to 'Back', record_labels_path %>
