// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#recordlabel__notFound em {
  font-weight: bold;
  font-size: 10px;
}

.checkboxes input[type="checkbox"] {
   opacity: 1;
   margin-left: 100px;
 }