<footer class="page-footer red">
  <div class="footer-copyright">
    <div class="container">
      <p style="color: white">&copy; 2018 Eric Zorn - ICT 4585 - University College, University of Denver</p>
    </div>
  </div>
</footer>